

/***************images***************/
#logo-img {
  background: url('../images/GIMPShowcase%20art%20HQ%202016.png') no-repeat;
    height: 165px;
    width: 180px;  
  margin:  0;
}
#legendary-img{
  background: url('../images/legendary.png') no-repeat;    
    height: 165px;
    width: 480px;  
  margin:  0;
}
/***************Text***************/
.link-buttons{
    background: #C5B3CB;    
}
.section-headers{
    width: 710px; 
}
.para-padding{
    padding-left: 20px;
    padding-right: 20px;
}
.para-padding-cont{
    padding-left: 30px;
    padding-right: 30px;
}
.button-margin{
    margin-left: 10px;
    margin-right: 10px;
}
.downsize-para{
    font-size: 11px;
}
.downsize-para12{
    font-size: 12px;
}
#next-wk-cont-margin{
    margin-top: 106px;
}
.list-no-markers{
    list-style-type: none;
}
/*********below the fold********/
#buy-tickets{
    
}